@import url(https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

html {
    background-color: #000000;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    /* display: */
    /* flex-drirection: column; */

}

body::-webkit-scrollbar {
    width: 10px;
  }

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.95);
}

body::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #008744;
    cursor: pointer;
}

.totality {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.background {
    z-index: -1;
    margin: 0;
    width: 100vw;
    height: 100vh;
    margin-bottom: 20vh;
    background: url('./soundwave_background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
}

.mainTitle {
    width: 100vw;
    height: 65vh;
    padding-top: 25vh;
    padding-left: 53%;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: #f1f1f1;
}

.blackSpace {
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0), rgba(8, 8, 8, .8));
}

.mainBody {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background: rgba(8, 8, 8, .8);
}

.searchBarContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
}

.searchBarTitle {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 35px;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

.searchDropDown {
    width: 10%;
    height: auto;
    background-color: #f1f1f1;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    border:0px;
    outline:0px;
    margin-left: 1vw;
}

.searchField {
    width: 40%;
    height: auto;
    border-color: #008744;
    padding-left: 1vw;
    background-color: #f1f1f1;
    border-radius: 6px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-left: 1vw;
}

.searchButton {
    width: 10%;
    height: auto;
    background-color: #008744;
    border: 0;
    border-radius: 6px;
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-left: 1vw;
}

.searchButton:hover {
    background-color: #005f30;
    cursor: pointer;
}

.tileContainer {
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 15vh;
}

.tileRows {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill(4, 1fr));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.track {
    /* z-index: auto; */
    width: 20vw;
    height: 20vw;
    /* perspective: 20vw; */
    position: relative;
    /* transition: 750ms; */
    /* cursor: pointer; */
    /* transform-style: preserve-3d; */
    /* perspective: 20vw; */
    /* outline: none ! important; */
}

/* .track:hover {
    cursor: pointer;
} */

/* .track.is-flipped {
    transform: rotateY(180deg);
} */

/* .flipper {
    transition: 500ms;
    transform-style: preserve-3d;
    width: 20vw;
    height: 20vw;
} */

/* .track:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    cursor: pointer;
} */

/* .artButton {

} */

/* .artButton:hover {
    cursor: pointer;
}

.artButton:focus {
    outline: none;
} */

/* .albumArt, .behindArt {
    transform-style: preserve-3d;
    width: 20vw;
    height: 20vw;
} */

.artContainer {
    width: 20vw;
    height: 20vw;
}

/* .albumArt, .behindArt { */
    /* transform-style: preserve-3d; */
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    /* position: absolute; */
    /* width: 100%;
    height: 100%;
} */

.albumArt {
    /* z-index: auto; */
    /* transform-style: preserve-3d; */
    /* backface-visibility: hidden; */
    /* transform: rotateY(0deg); */
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* position: absolute; */
}

/* .artButton {
    z-index: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
} */

.behindArt {
    /* z-index: 1; */
    /* transform-style: preserve-3d; */
    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
    /* backface-visibility: hidden; */
    width: 20vw;
    height: 20vw;
    position: relative;
    background-color: #1a1a1ada;
    /* transform: rotateY(180deg); */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trackExitButton {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

/* .playButton {
    z-index: 5;
    position: absolute;
}

.pauseButton {
    z-index: 5;
    position: absolute;
} */

.playPauseButton {
    z-index: 5;
    position: absolute;
}

.playPauseButton:hover {
    cursor: pointer;
}

.react-player {
    z-index: 4;
    position: relative;
}

.pair {
    /* z-index: 1; */
    display: flex;
    text-align: left;
    align-content: space-between;
}

.header {
    width: 4vw;
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 18px;
}

.content {
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 18px;
}

.buttons {
    z-index: 3;
    width: 60%;
    padding-top: 2vh;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.editButton {
    width: 45%;
    height: 2.5vw;
    border: 0;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 18px;
    background-color: #008744;
}

.deleteButton {
    width: 45%;
    height: 2.5vw;
    border: 0;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 18px;
    background-color: #008744;
}

.editButton:hover {
    background-color: #005f30;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #005f30;
    cursor: pointer;
}

.modalHeaderEdit {
    display: flex;
    width: auto;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 33px;
}

.addButtonContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    background: rgba(8, 8, 8, .8);
    width: 100vw;
    height: 30vh;
    clear:both;
    position: absolute;
}

.addText {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 35px;
    padding-right: 5vw;
}

.addButton {
    background-color: #008744;
    color: #f1f1f1;
    width: 20vw;
    height: 2.5vw;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    clear: both;
    border: none;
}

.addButton:hover {
    background-color: #005f30;
    cursor: pointer;
}

.addModal {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    clear: both;
    background-color: rgba(0, 0, 0, 0.8);
}

.addModal:focus { 
    outline: none; 
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f1f1f1;
    width: 30vw;
    height: 40vw;
    transform: translate(35vw, 5vw);
    clear: both;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.99),0 6px 20px 0 rgba(0,0,0,0.95);
}

.modalHeader {
    display: flex;
    width: auto;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 40px;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    width: 25vw;
    height: 23vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.inputs {
    width: 80%;
}

.Label {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: .25vh;
}

.Field {
    width: 100%;
    height: 2.5vh;
    padding-bottom: .25vh;
}

.submitButton {
    display: flex;
    justify-content: center;
    background-color: #008744;
    color: #f1f1f1;
    width: 8vw;
    height: 2.5vw;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    clear: both;
    border: none;
}

.submitButton:hover {
    background-color: #005f30;
    cursor: pointer;
}

.cancelButtonContainer {
    display: flex;
    justify-content: center;
    height: 10vh;
}

.addCancelButton {
    display: flex;
    justify-content: center;
    background-color: #008744;
    color: #f1f1f1;
    width: 8vw;
    height: 2.5vw;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    clear: both;
    border: none;
}

.addCancelButton:hover {
    background-color: #005f30;
    cursor: pointer;
}